.js-edit__second-toolbar {
  margin: 5px 0px 5px 0px;
  border-bottom: 1px solid #383838;
}

.js-edit__second-toolbar .js-edit__second-toolbar__update-app label{
  color: #ffffff;
  margin-left: 5px;
  font-size: 12px;
}
