.js-edit__content__user-guide{
  width: 200px;
  height: 88px;
  display: inline-block;
  position: absolute;
  right: 36px;
  top: 60px;
  background: #363679;
  padding: 10px;
  border-radius: 4px;
  z-index: 1;
}

.js-edit__content__user-guide__header{
  position: relative;
  height: 20px;
}

.js-edit__content__user-guide__header button.kuc-icon-btn{
  position: absolute;
  right: 0px;
}

.js-edit__content__user-guide__container a{
  color: #bbbbbb;
}

.js-edit__content__user-guide__container a:hover{
  color: #ffffff;
}