.js-edit__content__editor {
  overflow: auto;
  width: 100%;
  flex: 1;
}
.js-edit__content__editor--disable {
  cursor: not-allowed;
}
.js-edit__content__editor--disable .ace_editor {
  display: none;
}
